<main style="margin: 1em;">
  <h3>My URLs</h3>
  <div class="table-responsive"></div>
  <table class="table table-hover">
    <thead>
      <tr>

        <th scope="col">Short URL</th>
        <th scope="col">Long URL</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(let url in urls) { %>
        <tr>

          <td><a href="<%= url %>"><%= url %></a></td>
          <td><a href="<%= urls[url] %>"><%= urls[url] %></a></td>
          <td>
            <form action="/urls/<%= url %>" method="get" style="display: inline">
              <button type="submit" class="btn btn-success">Details</button>
            </form>
            <form action="/urls/<%= url %>/edit" method="get" style="display: inline">
              <button type="submit" class="btn btn-primary">Edit</button>
            </form>
            <form action="/urls/<%= `${url}/delete` %>" method="post" style="display: inline">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  </div>
</main>