<main style="margin: 1em;">
  <h3>My URLs</h3>
  <div class="table-responsive"></div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">URL Status</th>
        <th scope="col">Short URL</th>
        <th scope="col">Long URL</th>
      </tr>
    </thead>
    <tbody>
      <% for(let url in urls) { %>
        <tr>
          <td><a href="/urls/<%= url %>">Edit</a></td>
          <td><a href="<%= url %>"><%= url %></a></td>
          <td><a href="<%= urls[url] %>"><%= urls[url] %></a></td>
        </tr>
      <% } %>
    </tbody>
  </table>
  </div>
</main>