<style>
  ::placeholder {
    color: black !important;
  }
</style>
<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body">
    <form action="/urls/<%= `${shortURL}` %>" method="post" style="display: inline;">
      <h5 class="card-title">
        <div id="tinyURLFor" style="display: inline-block;">
          <span class="card-text" style="display: contents;">TinyURL for:&nbsp;</span>
          <input name="longURL" type="text" class="form-control" id="longURL" value="<%= urls[shortURL] %>"
          style="display: inline-block;margin: 0px; padding: 0px 4px; color: black; font-size: 20px">
        </div>
      </h5>

        <span>
          <p class="card-text" style="display: inline;">Short URL:</p>
          <input name="shortURL" type="text" class="form-control" id="shortURL" value="<%= shortURL %>"
          style="display: inline;margin: 0px; padding: 0px 4px; color: black;">
        </span>
        <br>
        <br>
        <button type="submit" class="btn btn-primary" style="display: inline">Save</button>
      </form>
    <form action="/urls/<%= `${shortURL}/delete` %>" method="post" style="display: inline;"">
        <button type=" submit" class="btn btn-danger" style="display: inline;">Delete</button>
    </form>
  </div>
  </div>
  <div class="card-footer text-muted"></div>
</div>




  <%- include("../../../partials/_resize.ejs", {type:'h5', idToResize:'longURL'}) %>
  <%- include("../../../partials/_resize.ejs", {type:'p', idToResize:'shortURL'}) %>