<h3>TinyURL for <%= urls[shortUrl].longUrl.split("://")[1] %></h3>
<div class="form-group mb-2">Short URL: <a href="/<%= `${shortUrl}` %>" ><%= shortUrl %></a></div>
<div class="table-responsive"></div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date Created</th>
      <th scope="col">Unique Visitors</th>
      <th scope="col">Short URL</th>
      <th scope="col">Long URL</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><input disabled type="text" class="form-control text" placeholder="<%= urls[shortUrl].dateCreated.toLocaleString('en-CA', { timeZone: 'America/Vancouver' }) %>"></td>
        <td><input disabled type="text" class="form-control text" placeholder="<%= Object.keys(urls[shortUrl].views).length %>"></td>
        <form action="/urls/<%= shortUrl %>" method="POST" style="display: inline">
        <td>
          <input name="shortUrl" type="text" class="form-control text" placeholder="<%= shortUrl %>">
        </td>
        <td>
          <input name="longUrl" type="text" class="form-control text" placeholder="<%= urls[shortUrl].longUrl.split("://")[1] %>">
        </td>
        <td>
            <button  type="submit" class="btn btn-primary">Save</button>
          </form>
          <form action="/urls/<%= `${shortUrl}/delete` %>" method="POST" style="display: inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
  </tbody>
</table>
<a href="data:text/json;charset=utf-8,<%= encodeURIComponent(JSON.stringify(Object.entries(urls[shortUrl]).filter((item) => item[0] ==="views")[0][1])) %>" download="data.json">RAW JSON Visitor Data</a>
</div>
<style>
  :disabled{
    border-color: rgba(0, 0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
  }
</style>
