<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title" style="padding: 2px 6px; margin: 0px;">TinyURL for: <%= urls[shortURL] %></h5>
    <p class="card-text">
      Short URL: <a href="/<%= `${shortURL}` %>" style="padding: 2px 6px; margin: 0px;"><%= shortURL %></a>
      <br>
      <br>
      <form action="/urls/<%= `${shortURL}/edit` %>" method="get" style="display: inline;">
        <button type="submit" class="btn btn-primary" >Edit</button>
      </form>
      <form action="/urls/<%= `${shortURL}/delete` %>" method="post" style="display: inline;">
        <button type="submit" class="btn btn-danger" >Delete</button>
      </form>
    </p>
  </div>
  <div class="card-footer text-muted"></div>
</div>
